<div class="center">
<h3>Edit your preferences:</h3>
<br>
  <%= form_for @user do |f| %>
    <%= f.email_field :email, placeholder: 'email' %>
    <%= f.password_field :password, placeholder: 'password' %>
    <%= f.password_field :password_confirmation, placeholder: 'confirm password' %>
    <%= f.text_field :phone, placeholder: 'phone number' %>
    <%= f.check_box(:push) %>
    <%= f.label(:push, 'Accept Push Notifications') %><br>
    <br>
    <%= f.check_box(:text) %>
    <%= f.label(:text, 'Accept Text Messages') %><br>
    <br>
    <%= f.submit %>
  <% end %>
</div>
