<div class="center">
  <%= form_for @user do |f| %>
    <%= f.email_field :email, placeholder: 'email' %>
    <%= f.password_field :password, placeholder: 'password' %>
    <%= f.password_field :password_confirmation, placeholder: 'confirm password' %>
    <%= f.text_field :phone, placeholder: 'phone number' %>
    <%= f.check_box(:text) %>
    <%= f.label(:text, 'Accept Text Messages') %><br />
    <%= f.submit %>
  <% end %>
</div>
