<!DOCTYPE html>
<html>
  <head>
    <title>EmotionalIndex</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
    <%= "Logged in as #{current_user.email}"%><br />
    <%= link_to "Edit Settings", edit_user_path(current_user)%> |
    <%= link_to "Logout", logout_path %>
  <% else %>
    <%= link_to "Login", login_path %>
    <%= link_to "Sign Up", new_user_path %>
  <% end %>
    <%= yield %>
  </body>
</html>
